.hero {
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 45%;
  margin-left: 4rem;
  padding: 2rem 0 3rem 3rem;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: -3px 4px 4px -5px;
}

.text h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #73288b;
  text-transform: uppercase;
}

.text h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.text p {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
}

.imageContainer {
  width: 50rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}

.image {
  width: 100%;
  object-fit: cover;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: clip-gradient 10s ease-in-out infinite alternate;
  /* background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #efedf7,
    #e1dcef,
    #d3cae7,
    #b7a3d3,
    #9e7cbd,
    #8854a5,
    #73288b
  );
  clip-path: polygon(0 64%, 100% 15%, 100% 100%, 0 100%); */
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #efedf7,
    #e1dcef,
    #d3cae7,
    #b7a3d3,
    #9e7cbd,
    #8854a5,
    #73288b
  );
  z-index: -1;
}

/* Mobile Responsiveness */
@media (min-width: 1440px) {
  .hero {
    justify-content: center;
  }

  .text {
    margin-left: 0;
    margin-right: 10rem;
  }

  .imageContainer {
    margin-right: 0;
  }
}

@media (min-width: 2560px) {
  .text {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .text {
    margin-left: 2rem;
  }

  .text h1 {
    font-size: 7rem;
  }

  .imageContainer {
    width: 40rem;
    margin-bottom: 7rem;
  }
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 5rem;
  }

  .imageContainer {
    width: 35rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 425px) {
  .text {
    width: 80%;
  }

  .text h2 {
    margin-bottom: 5rem;
  }

  .text h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .text p {
    font-size: 2rem;
  }

  .imageContainer {
    position: absolute;
    bottom: 5rem;
    right: 0;
    width: 12rem;
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .text {
    margin-bottom: 2rem;
  }

  .imageContainer {
    bottom: 3rem;
  }
}

@media (max-width: 320px) {
  .text h1 {
    font-size: 3rem;
  }
}

/* Animation */
@keyframes clip-gradient {
  0% {
    clip-path: polygon(0 64%, 100% 15%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 15%, 100% 64%, 100% 100%, 0 100%);
  }
}
