.hero {
  width: 100%;
  min-height: calc(100vh - 10rem);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* CTA styles */
.text {
  width: 45%;
  margin-left: 4rem;
  padding: 2rem 0 3rem 3rem;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: -3px 4px 4px -5px;
}

.text h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #2e58a6;
  text-transform: uppercase;
}

.text h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.text p {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
}

/* Form container styles */
.formContainer {
  margin-right: 4rem;
}

.formContainer h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.formContainer form {
  width: 100%;
}

.formField {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.formField:not(:last-of-type) {
  margin-bottom: 3rem;
}

.formField label {
  width: 18rem;
  font-size: 2rem;
  font-weight: 700;
}

.formField input {
  width: 100%;
  padding: 1.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 3px 10px rgba(100, 40, 40, 0.1), 0 5px 15px rgba(0, 0, 0, 0.15);
  outline: none;
}

.formField input[type='text'] {
  font-size: 1.6rem;
}

.formField input::placeholder {
  color: #e7e7e7;
}

.submit {
  margin-top: 4rem;
  text-align: right;
}

.submit button {
  width: 100%;
  padding: 1.8rem;
  background-color: #2e58a6;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.submit button:hover {
  background-color: #6373b6;
}

/* Image styles */
/* .imageContainer {
  width: 50rem;
  background-color: #ffffff;
  position: absolute;
  z-index: -2;
} */

/* .image {
  width: 35rem;
  object-fit: cover;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
} */

/* Background gradient */
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: clip-gradient 10s ease-in-out infinite alternate;
  /* background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #efedf7,
    #e1dcef,
    #d3cae7,
    #b7a3d3,
    #9e7cbd,
    #8854a5,
    #73288b
  ); */
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #f1eff7,
    #e2e0f0,
    #d3d1e8,
    #b0b0d7,
    #8b91c6,
    #6373b6,
    #2e58a6
  );
  z-index: -1;
  opacity: 0.8;
}

/* Mobile Responsiveness */
@media (min-width: 1440px) {
  .hero {
    justify-content: center;
  }

  .text {
    margin-left: 0;
    margin-right: 10rem;
  }
}

@media (min-width: 2560px) {
  .text {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .text {
    margin-left: 2rem;
  }

  .text h1 {
    font-size: 7rem;
  }

  .formContainer {
    width: 40rem;
    margin-right: 2rem;
  }

  .formContainer h2 {
    font-size: 3rem;
  }

  .formField {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .hero {
    display: block;
    padding-bottom: 5rem;
  }

  .text {
    width: 80%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
  }

  .text h1 {
    font-size: 5rem;
  }

  .formContainer {
    width: 80%;
    margin-top: 8rem;
    margin-right: auto;
    margin-left: auto;
  }

  .formField:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  .formContainer h2 {
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .formContainer label {
    font-size: 1.8rem;
  }

  .formContainer input {
    width: 100%;
    padding: 1.2rem;
  }

  .formField input[type='text'] {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .text h2 {
    margin-bottom: 5rem;
  }

  .text h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .text p {
    font-size: 2rem;
  }

  .formContainer {
    margin-top: 4rem;
  }

  .formContainer h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .text {
    margin-bottom: 2rem;
  }

  .formContainer {
    bottom: 3rem;
  }
}

@media (max-width: 320px) {
  .text h1 {
    font-size: 3rem;
  }
}

/* Animation */
@keyframes clip-gradient {
  0% {
    clip-path: polygon(0 64%, 100% 15%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 15%, 100% 64%, 100% 100%, 0 100%);
  }
}
